/* Primary Things */
*{
    margin: 0px;
    padding: 0px;

}
.btn{
padding: 20px 43px;
border-radius: 8px;
background-color:#E55473 ;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-weight: 700;


}

#btn{
    margin-top: 32px;

}
.btn:hover {
    color: #181818;
  }
/* Main part */
.banner-container{
    display: flex;
    align-items:center ;
    justify-content:space-between ;
    width: 1920px;
    height: 850px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
    background-color: rgba(229, 84, 115, 0.10); 
   
}
    

.banner-photo{
    width: 635px;
    height: 800px;
    
}
.banner-img{
    margin-right: 240px;
    margin-top: 25px;
}

.description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 600px;
    margin-top: 32px;
}
.title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    width: 700px;
    font-weight: 900;
   
     
}
.banner-text{
    margin-left: 240px;
}
.banner-con{
    display: flex;
    flex-direction: row-reverse;
    align-items:center ;
    justify-content:space-between ;
    width: 1920px;
    height: 850px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
    
    background-image: linear-gradient( #ffcccc,#ffb3ff);
}

.tittle{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    width: 700px;
    font-weight: 900;

}
.descrip{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 600px;
    margin-top: 32px;

}

.second-banner-img{
    margin-left: 50px;
}



/* Our Featured Flower Part */


.flower-contain{
    width: 1920px;
    height: 850px;

}
.flower-description{
    text-align: center;
    margin-top: 178px;
    margin-bottom: 48px;
}

.flower-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 900;
    
}

.descri{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

/* flower images part */
.flower-img{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 24px;
    vertical-align: top;
    
}



.flower-img1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);   
    padding: 110px 78px 0px 76px;
    width: 310px;
height: 428px;
}

.flower-img2{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    padding: 110px 78px 0px 76px;
    width: 310px;
height: 428px;
}

.flower-img3{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    padding: 110px 78px 0px 76px;
    width: 310px;
height: 428px;
}

.caption{
    
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    
}
.caption:hover{
    color: rgb(214, 51, 78);
}
.flower-Container{
    margin-bottom: 128px;
}

/* delivery and services part */

.rectangle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 240px;
    text-align: center;
}

/* Instagram part */
.img-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 24px;
    vertical-align: top;

}


