*{
    margin: 0px;
    padding: 0px;

}

.banner-container{
    display: flex;
    align-items:center ;
    justify-content:space-around ;
    /* width: 1920px;
    height: 850px; */
    
    border: 1px solid gray;
    background-color: rgba(229, 84, 115, 0.10); ;
    /* background-image: url("./Image/background.png"),linear-gradient(45deg,#000,#888); */
}

banner-photo{
    width: 635px;
    height: 800px;
    
}